

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lalezar&family=Rubik&family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

.home-container {
    background-color: #202529;
    color: white;
    padding: 50px;
    min-height: calc(100vh - 70px); /* Subtract the height of the header */
  }

  
  
  .hey-text {
    font-size: 24px;
  }
  
  .name-text {
    font-size: 48px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    animation: typing-animation 10s steps(40);
  }
  
  .orange-text {
    color: orange;
    
  }
  
  .welcome-text {
    font-size: 48px;
    color: rgb(75, 89, 132);
    margin-top: 20px;
    
  }
  
  .info-text {
    font-size: 16px;
    color: orange;
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
      }

  .info-text a {
    color: black;
    text-decoration: none;

  }

  .info-text a.github {
    color: black;
  }
  
  .info-text a.linkedin {
    color: rgb(9,102,294);
  }
  
  .profile-image {
    width: auto;
    height: auto;
  }


  .description-text {
    margin-top: 20px; /* Add margin-top for spacing */
    font-size: 16px;
    font-family: 'Concert One', cursive;
    font-family: 'Lalezar', cursive;
    font-family: 'Suez One', serif;
  }
  
  .description-text p {
    margin-bottom: 10px; /* Add margin-bottom for spacing between paragraphs */
  }
  
  .material-symbols-outlined {
    margin-right: 5px; /* Add margin-right for spacing between the symbol and text */
  }
   
  /* Animation of the welcome text */
  @keyframes typing-animation {
    0% {
      width: 0;
    }
    25% {
      width: 100%;
    }
    50% {
      width: 100%;
    }
    75% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  
  
  
  .typing-cursor {
    animation: typing-cursor-animation 0.8s steps(1) infinite;
    color: orange;
  }
  
  @keyframes typing-cursor-animation {
    50% {
      opacity: 0;
    }
  }
  /* Style for google fonts */
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' -25,
    'opsz' 20
  }
  
  /* Style for description cards */
  .card {
    background-color: rgb(255, 84, 3) !important; /* Add !important to override any conflicting styles */
    padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange;
  transform: scale(1.05);
}

.card:hover p {
  font-size: 18px;
}

.orange-card {
  color: white;
}

.material-symbols-outlined {
  margin-right: 5px;
}

  
  

  