.navbar-nav li.nav-item:hover a.nav-link {
    animation: jump 1s infinite;

}

@keyframes jump {
    0% {
        transform: translateX(0);
        text-shadow: 0 0 0 rgba(255, 255, 255, 0.1);
    }

    50% {
        transform: translateX(5px);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }

    100% {
        transform: translateX(0);
        text-shadow: 0 0 0 rgba(255, 255, 255, 0.1);
    }
}


.navbar-expand-lg .navbar-collapse {
    background-color: transparent;
}


.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #547da5;
    /* Set the desired background color */
}


.navbar-brand img {
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
    /* Add this line to make the logo background transparent */

}

.navbar-nav {
    background-color: transparent !important;
    /* Add this line to make the buttons background transparent */
}

.navbar-brand:hover img {
    transform: rotate(360deg);
}

.navbar-nav li.nav-item {
    margin-right: 40px;
    /* Adjust the margin value as desired */
}

.navbar-nav li:last-child {
    margin-right: 0;
    /* Remove the margin from the last navigation item */
}

.container-fluid {
    background-color: transparent !important;
}

.nav-link {
    font-family: 'Audiowide', sans-serif;
}