
/* Top part of the footer */
.container-fluid {
    background-color: #343a40; /* Replace with your desired color */
  }
  
  /* Let's connect text */
  .lets-connect {
    font-size: 24px;
    font-family: 'Audiowide', sans-serif;
    margin: 0;
    padding-left: 20px;
  }
  
  /* Bottom part of the footer */
  .gradient-bg {
    background-color: #202529; /* Replace with your desired gradient colors */
  }
  
  /* Copyright text */
  .gradient-bg p {
    color: #ffffff; /* Replace with your desired color */
    font-size: 10px;
    font-weight: bold;
    font-family: 'Audiowide', sans-serif;
  }
  
  /* LinkedIn and GitHub icons */
  .text-white {
    color: #fff; /* Replace with your desired color */
    margin: 0 10px; /* Adjust the margin as needed */
    transition: color 0.3s ease;
  }
  
  .text-white:hover {
    color: #ccc; /* Replace with your desired hover color */
  }
  